asgiref==3.9.1
beautifulsoup4==4.13.4
certifi==2025.7.9
charset-normalizer==3.4.2
Django==5.2.4
geopandas==1.1.1
gunicorn==22.0.0
idna==3.10
numpy==2.3.2
packaging==25.0
pandas==2.3.1
pyogrio==0.11.1
pyproj==3.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
shapely==2.1.1
six==1.17.0
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
whitenoise==6.9.0
